
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif;
}
body {
    background: #081b29;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color:#ededed;
    text-decoration: none;
    font-weight:600;
}
.navbar a {
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
color: #00abf0;
}
.Services{
    height: 100vh;
   
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.Services-content{
    
    max-width: 600px;
}
.Services-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.Services-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.Services-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

img {
    position : absolute;
    top: 0;
    right : 20px;
    width: 500px;
    height: 90%;
    background :transparent;
    transition: 3s;
}
